$font-stack:    Helvetica, sans-serif;

.hidden {
  display: none;
}

.container {
  font: 100% $font-stack;
  width: 100%;
}

.container__app {
    background-color: #fafafa;
    height: 100%;
    overflow-x: hidden;
}

.container__header {
  position: absolute;
  top: 0px;
  z-index: 10;
}

.container__list {
  margin-top: 16px;
  position: relative;
  top: 56px;
}

.container__loading {
  position: absolute;
  top: 56px;
  z-index: 5;
  height: 4px;
  width: 100%;
}

.logo {
  width: 32px;
  height: 32px;
}

.stacked {

}

.inline {
  display: inline-flex;
  overflow: hidden;
}

.chipHeader {
  margin-left: 16px;
  text-transform: capitalize;
}

.chip {
  margin-bottom: 8px;
}

.chip span {
  font-size: smaller;
  font-weight: 500;
  text-transform: capitalize;
}

.chip.FINISHED {
  background-color: green;
}

.chip.FINISHED span {
  color: rgb(37, 13, 13);
}

.chip.FAILED {
  background-color: red;
}

.chip.CANCELED span {
  color: rgb(39, 30, 14);
}

.chip.CANCELED {
  background-color: orange;
}

.chip.QUEUED span, .chip.RUNNING span {
  color: rgb(190, 190, 224);
}

.chip.QUEUED, .chip.RUNNING {
  background-color: blue;
}

.chip.ERROR span {
  color: #0f290f;
}

.finished div{
  color: green
}

.cancelled div {
  color: orange
}

.error div {
  color: red
}

.title {
  
}

.item {
  font-weight: 500;
}

.detailsContainer {
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "timeline summary"
    "plots plots"  
  ;
}

.detailsContainer > div {
  width: auto;
  min-width: 110px;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.timelineContainer {
  grid-area: timeline;
}

.timeline {
  grid-area: timeline;
  width: 100%;
  overflow: hidden;
  grid-template-columns: auto auto auto;
  grid-template-rows: 36px auto 36px auto 36px;
  grid-template-areas: 
    "createdLabel createdNode createdTime"
    ". createdLine ."
    "startedLabel startedNode startedTime"
    ". startedLine ." 
    "finishedLabel finishedNode finishedTime"
  ;
  padding-right: 16px;
}

.time {
  font-size: 0.6rem!important;
}

.timeline p {
  font-size: 0.75rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.dotSuccess {
  background-color: green!important;
}

.dotError {
  background-color: red!important;
}

.dotCanceled {
  background-color: orange!important;
}

.dotRunning {
  background-color: blue;
  animation-name: color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: blue;
  }
  50% {
    background-color: rgb(119, 119, 255);
  }
  100% {
    background-color: blue;
  }
}

.dotPending {
  background-color: #e0e0e0;
}

.line {
  width: 0px;
  height: 100%;
}

.lineSuccess {
  border-left: 2px solid green;
}

.linePending {
  border-left: 2px solid #e0e0e0;
}

.lineError {
  border-left: 2px solid red;
}

.lineCanceled {
  border-left: 2px solid orange;
}

.lineRunning {
  border-left: 2px dashed blue;
}

.finishedTime {
  grid-area: finishedTime;
}

.finishedNode {
  grid-area: finishedNode;
}

.finishedLabel {
  grid-area: finishedLabel;
}

.startedTime {
  grid-area: startedTime;
}

.startedNode {
  grid-area: startedNode;
}

.startedLabel {
  grid-area: startedLabel;
}

.startedLine {
  grid-area: startedLine;
}

.createdTime {
  grid-area: createdTime;
}

.createdNode {
  grid-area: createdNode;
}

.createdLabel {
  grid-area: createdLabel;
}

.createdLine {
  grid-area: createdLine;
}

.summaryContainer {
  grid-area: summary;
  display: flex!important;
  padding-left: 16px;
  border-left: 2px solid #f3f3f3;
}

.summaryContainer p {
  margin: 0;
  margin-bottom: 8px;
}

.chartContainer {
  width: 100%;
  grid-area: plots;
  grid-row: 2;
  display: grid;
  place-items: center;
}

.timelineContainer p {
  font-size: 0.75rem;
}

.timelineContainer li:last-of-type span:last-of-type {
  display: none;
}

.timelineContainer span:first-of-type {
  padding: 2px;
}

.timelineContainer span:last-of-type {
  width: 1px;
}

.timelineContainer ul {
  padding-left: 0px;
}

.timelineContainer li:first-of-type div:first-of-type {
  padding-left: 0px;
}

.timelineContainer li:last-of-type div:first-of-type {
  padding-left: 0px;
}

.timelineContainer li:nth-child(2) div:last-of-type {
  padding-left: 0px;
}

.plot {
  width: 100%;
}

#chart {
  height: 250px;
}

.selectBoxes {
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 12px;
}

.selectBoxes div {
  font-size: small;
}

.menuItem {
  font-size: small!important;
  line-height: 2!important;
  min-height: 0!important;
  text-transform: capitalize;
}

#demo-simple-select {
  text-transform: capitalize;
}

.breadcrumbs {
  display: grid;
  grid-template-columns: auto 20px auto;
  place-items: center;
  margin-top: 2px;
}

.breadcrumbs p {
  font-size: x-small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumbs svg {
  font-size: small;
}

header {
  color: #fff!important;
  background-color: #0076a8!important;
}

button.MuiButton-containedSecondary:enabled {
  color: #fff;
  background-color: orange!important;
}

div.makeStyles-actions-18 {
  padding-right: 8px;
}

div.MuiInput-underline:after {
  border-bottom: 2px solid #0076a8!important;
}