$font-stack:    Helvetica, sans-serif;

.hidden {
  display: none;
}

.container {
  font: 100% $font-stack;
  width: 100%;
}

.container__app {
    background-color: #0076a8;
    height: 100%;
}

.container__list {
  margin-top: 16px;
}

.container__loading {
  position: absolute;
  top: 56px;
}

.logo {
  width: 32px;
  height: 32px;
}

.stacked {

}

.inline {
  display: inline-flex;
  overflow: hidden;
}

.chip {
  margin-left: 16px;
}

.chip span {
  font-size: smaller;
  text-transform: capitalize;
}

.finished div{
  color: green
}

.cancelled div {
  color: orange
}

.error div {
  color: red
}